<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="{% url 'item:home' %}" class="logo d-flex align-items-center">
      <h1>BTS <span class="mx-2">Express</span></h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        {% if request.path == "/home/" %}
        <li><a href="{% url 'item:home' %}" class="active">Home</a></li>
        {% else %}
        <li><a href="{% url 'item:home' %}">Home</a></li>
        {% endif %}
        {% if request.path == "/about/" %}
        <li><a href="{% url 'item:about' %}" class="active">About </a></li>
        {% else %}
        <li><a href="{% url 'item:about' %}">About </a></li>
        {% endif %}
        {% if request.path == "/contact/" %}
        <li><a href="{% url 'item:contact' %}" class="active">Contact</a></li>
        {% else %}
        <li><a href="{% url 'item:contact' %}">Contact</a></li>
        {% endif %}
        <li><a href=""></a></li>
        {% if request.user.is_authenticated %}
        <li><a class="get-a-quote" href="{% url 'item:create_order' %}">Create order</a></li>
        <li><a href="{% url 'item:orders' %}">My orders</a></li>
        <li><a href="{% url 'item:logout' %}">Log out</a></li>
        {% else %}
        <li><a href="{% url 'item:login' %}">Log In</a></li>
        <li><a href="{% url 'item:signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>