<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'item:home' %}">BTS Delievery</a>
    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'item:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Create delievery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>