{% extends 'partials/base.html' %}
{% block title %} Orders {% endblock %}
{% block content %}
<main id="main">
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center"
      style="background-image: url('/static/main/img/page-header.jpg');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Orders</h2>
            <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut
              a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum
              dolorem.</p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="{% url 'item:home' %}">Home</a></li>
          <li>Orders</li>
        </ol>
      </div>
    </nav>

    <h1 class="mt-4 mx-5">My orders</h1>

    {% if orders|length == 0 %}
    <div class="w-100 my-5">
      <h4 class="text-center">You currently have no orders</h4>
      <a class="btn btn-primary mt-3" style="margin-left: 50%; transform: translateX(-50%);"
        href="{% url 'item:create_order' %}">Create order</a>
    </div>
    {% endif %}

    {% for order in orders %}
    {% if order.status %}
    <div class="w-75 border border-success rounded d-flex p-3 mx-auto my-5 border-1" style="max-height: 180px;">
      <div class="d-flex align-items-center justify-content-center" style="width: 20%; height: 150px;"><img
          width="130px"
          style="object-fit: cover; filter: invert(1) grayscale(2) blur(3px); background-blend-mode: difference;"
          src="{{order.image.url}}" alt="">
      </div>
      <div style="width: 80%;" class="text-muted">
        <h3 style="margin-left: 30%;">{{order.title}}</h3>
        <div class="w-100 d-flex px-3 mt-3">
          <div class="w-50 d-flex flex-column">
            <h6 class="fw-bold">From Address: <span class="fw-normal font-monospace">Bukhara</span></h6>
            <h6 class="fw-bold">To Address: <span class="fw-normal font-monospace">{{order.to_address.name}}</span></h6>
            <h6 class="fw-bold">Category: <span class="fw-normal font-monospace">{{order.category.name}}</span></h6>
          </div>
          <div class="w-50 d-flex flex-column justify-content-center">
            <h6 class="fw-bold">Bulk: <span class="fw-normal">{{order.bulk}} kg</span></h6>
            <h6 class="fw-bold">Price: <span class="fw-normal">${{order.price}}</span></h6>
            <h6 class="fw-bold text-success mt-1">Order completed!</h6>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="w-75 border border-primary rounded d-flex p-3 mx-auto my-5 border-1" style="max-height: 270px;">
      <div class="d-flex align-items-center justify-content-center" style="width: 20%; height: 150px;"><img
          width="130px" style="object-fit: cover;" src="{{order.image.url}}" alt="">
      </div>
      <div style="width: 80%;">
        <h3 style="margin-left: 30%;">{{order.title}}</h3>
        <div class="w-100 d-flex px-3 mt-3">
          <div class="w-50 d-flex flex-column">
            <h6 class="fw-bold">From Address: <span class="fw-normal font-monospace">Bukhara</span></h6>
            <h6 class="fw-bold">To Address: <span class="fw-normal font-monospace">{{order.to_address.name}}</span></h6>
            <h6 class="fw-bold">Category: <span class="fw-normal font-monospace">{{order.category.name}}</span></h6>
          </div>
          <div class="w-50 d-flex flex-column justify-content-center">
            <h6 class="fw-bold">Bulk: <span class="fw-normal">{{order.bulk}} kg</span></h6>
            <h6 class="fw-bold">Price: <span class="fw-normal">${{order.price}}</span></h6>
            <a class="btn btn-success" href="{% url 'deliver:order_complete' order.id %}" style="width: 33%;">
              Complete
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</main>
{% endblock %}