{% extends 'partials/base.html' %}
{% block title %}{{deliver.name}}{% endblock %}
{% block content %}
<main id="main">
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center"
      style="background-image: url('/static/main/img/page-header.jpg');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Profile</h2>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="{% url 'item:home' %}">Home</a></li>
          <li>Profile</li>
        </ol>
      </div>
    </nav>
    <div class="w-50 mx-auto my-5 border border-primary border-2 rounded p-3">
      <div class="w-100 d-flex align-items-center justify-content-center"><img src="{{deliver.profile_image.url}}"
          alt="pic" class="rounded-circle" width="100px" height="100px" style="object-fit: cover;"></div>
      <h3 class="text-center mt-3">{{deliver.name}}</h3>
      <h4 class="fw-bold text-center h5 mt-2">Work Time: <span
          class="font-monospace fw-normal">{{deliver.work_time}}</span>
      </h4>
      <h4 class="fw-bold text-center h5 mt-2">Category: <span
          class="font-monospace fw-normal">#{{deliver.category}}</span>
      </h4>
      {% if not deliver.activity %}
      <h4 class="fw-bold text-center h5 mt-2">Activity: <span class="font-monospace fw-normal">at work</span>
      </h4>
      {% else %}
      <h4 class="fw-bold text-center h5 mt-2">Activity: <span class="font-monospace fw-normal">not at work</span>
      </h4>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}