{% extends 'partials/base.html' %}
{% block title %} Orders {% endblock %}
{% block content %}
<main id="main">
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center"
      style="background-image: url('/static/main/img/page-header.jpg');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Orders</h2>
            <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut
              a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum
              dolorem.</p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="{% url 'item:home' %}">Home</a></li>
          <li>Orders</li>
        </ol>
      </div>
    </nav>

    <h1 class="mt-4 mx-5">My orders</h1>

    {% for order in orders %}
    <div class="w-75 border border-primary rounded d-block p-4 mx-auto my-5"></div>
    {% endfor %}
  </div>
</main>
{% endblock %}